.screen {
    background-color: #f4fbf7;
    border: 3px solid #061f00;
    margin-top: 5px;
    width: 70%;
    height: 20%;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
