// octaves-3
.C3 {
    color: var(--octava-c3-color);
    font: var(--font-octava);
    margin: 5px;
}

.D3 {
    color: var(--octava-d3-color);
    font: var(--font-octava);
    margin: 5px;
}

.E3 {
    color: var(--octava-e3-color);
    font: var(--font-octava);
    margin: 5px;
}

.F3 {
    color: var(--octava-f3-color);
    font: var(--font-octava);
    margin: 5px;
}

.G3 {
    color: var(--octava-g3-color);
    font: var(--font-octava);
    margin: 5px;
}

.A3 {
    color: var(--octava-a3-color);
    font: var(--font-octava);
    margin: 5px;
}

.B3 {
    color: var(--octava-b3-color);
    font: var(--font-octava);
    margin: 5px;
}

// octaves-4
.C4 {
    color: var(--octava-c4-color);
    font: var(--font-octava);
    margin: 5px;
}

.D4 {
    color: var(--octava-d4-color);
    font: var(--font-octava);
    margin: 5px;
}

.E4 {
    color: var(--octava-e4-color);
    font: var(--font-octava);
    margin: 5px;
}

.F4 {
    color: var(--octava-f4-color);
    font: var(--font-octava);
    margin: 5px;
}

.G4 {
    color: var(--octava-g4-color);
    font: var(--font-octava);
    margin: 5px;
}

.A4 {
    color: var(--octava-a4-color);
    font: var(--font-octava);
    margin: 5px;
}

.B4 {
    color: var(--octava-b4-color);
    font: var(--font-octava);
    margin: 5px;
}

// octaves-5
.C5 {
    color: var(--octava-c5-color);
    font: var(--font-octava);
    margin: 5px;
}

.D5 {
    color: var(--octava-d5-color);
    font: var(--font-octava);
    margin: 5px;
}

.E5 {
    color: var(--octava-e5-color);
    font: var(--font-octava);
    margin: 5px;
}

.F5 {
    color: var(--octava-f5-color);
    font: var(--font-octava);
    margin: 5px;
}

.G5 {
    color: var(--octava-g5-color);
    font: var(--font-octava);
    margin: 5px;
}

.A5 {
    color: var(--octava-a5-color);
    font: var(--font-octava);
    margin: 5px;
}

.B5 {
    color: var(--octava-b5-color);
    font: var(--font-octava);
    margin: 5px;
}

// octava-diez-3
.C3Diez {
    color: var(--octava-c3diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.D3Diez {
    color: var(--octava-d3diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.F3Diez {
    color: var(--octava-f3diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.G3Diez {
    color: var(--octava-g3diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.A3Diez {
    color: var(--octava-a3diez-color);
    font: var(--font-octava);
    margin: 5px;
}

// octava-diez-4
.C4Diez {
    color: var(--octava-c4diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.D4Diez {
    color: var(--octava-d4diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.F4Diez {
    color: var(--octava-f4diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.G4Diez {
    color: var(--octava-g4diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.A4Diez {
    color: var(--octava-a4diez-color);
    font: var(--font-octava);
    margin: 5px;
}

// octava-diez-5
.C5Diez {
    color: var(--octava-c5diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.D5Diez {
    color: var(--octava-d5diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.F5Diez {
    color: var(--octava-f5diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.G5Diez {
    color: var(--octava-g5diez-color);
    font: var(--font-octava);
    margin: 5px;
}

.A5Diez {
    color: var(--octava-a5diez-color);
    font: var(--font-octava);
    margin: 5px;
}
